
{% extends 'accounts/base.html'%}

{% load static%}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}


</div>
{% endfor %}

<div class="row" style="background-color: #ECF4D6; height: 80vh; padding: 30px;  width: 100%;">
    <div class="col-md-6 ">
        <div class="landing">
            <!-- {% if user.is_authenticated %}

<h1 class="text-center">Welcome {{user.username}}</h1>

{% endif%} -->
        <h2>
            Hello {{user }}Start a fundraise with us!!
        </h2> 
        <p>To support a cause, you can start a fundraise with us and we will give a platform to raise funds for your cause.</p>

        <a href="{% url 'cause_create' %}" class="btn btn-primary btn-lg">Create</a>
        </div>

        

    </div>

    <div class="col-md-6 ">
        <img class="img-fluid" src="{%static 'images/back.webp'%}" alt="" srcset="">
    </div>

</div>

{% endblock %}