{% extends 'base.html' %}

{% block content %}
<div class="row d-flex col-4 m-auto">
  <h2>Create an Account</h2>
  <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
    {% csrf_token %}
    
    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
        <br>
        {{ field }}
        {% for error in field.errors %}
          <div class="invalid-feedback" style="display: block;">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Register</button>


    {% load socialaccount %}

    <hr class="my-4">
  
  
    
      <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-block btn-primary"
      style="background-color: #dd4b39;">
      <i class="fa-brands fa-google"></i> Sign in with Google
      </a>
  

  </form>
      <p class=" text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login' %}"
        class="fw-bold text-body"><u>Login here</u></a></p>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}




  

</div>
{% endblock %}
